body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #f8f4e5, #f0e1d2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 96%;
  background-color: #8d6e63;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-family: 'Playfair Display', serif;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
}

h1 {
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
}

.logo {
  margin-right: auto;
  font-size: 1.8rem;
  font-weight: bold;
}

.navButtons{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#ingredientsInput {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

#searchBtn , #recipeBtn {
  background-color: #8d6e63;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

#searchBtn:hover, #recipeBtn:hover {
  background-color: #6d4c41;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.nav-links a:hover {
  text-decoration: underline;
}

.frontText {
  background-color: #ffffff80;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  padding: 1rem;
  transition: transform 0.2s ease;
  width: 60%;
  margin-top: 10px;
}

#results , #recipesContainer , #favoritesContainer {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 80%;
  margin: auto;
}

.card {
  background-color: #ffffff80;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  padding: 1rem;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 100%;
  border-radius: 10px;
}

.card h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.card ul {
  padding-left: 1.2rem;
  margin-top: 0.3rem;
}

.saveBtn , .removeBtn , .ubdateBtn{
  margin-top: 1rem;
  background-color: #8d6e63;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.saveBtn:hover, .removeBtn:hover, .ubdateBtn:hover, .logoutBtn:hover, .loginBtn:hover{
  background-color: #6d4c41;
}

#ubdateForm {
  background-color: #ffffff80;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.95rem;
}

input, textarea {
  background-color: #ffffffca;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  resize: vertical;
  width: 90%;
}

input:focus, textarea:focus {
  border-color: #8d6e63;
}

.update {
  margin-top: 2rem;
  padding: 0.75rem;
  background-color: #8d6e63;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 25%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.update:hover {
  background-color: #6d4c41;
}

@media (max-width: 600px) {
  .navbar h1 {
    font-size: 1.2rem;
  }
}

.hidden {
  display: none !important;
}

.profile {
  background-color: #ffffff80;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  padding: 1rem;
  transition: transform 0.2s ease;
  width: 50%;
  margin-top: 10%;
  text-align: center;
}

.loginBtn {
  margin-top: 1rem;
  background-color: #8d6e63;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.logoutBtn {
  margin-top: 1rem;
  background-color: #8d6e63;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

#loginForm {
  background-color: #ffffff80;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 300px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.formUp, .formdown {
  text-align: center;
}
